*{
    box-sizing: border-box;
}
.header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-list {
    height: 40px;
    margin: 0;
}

.nav-item {
    margin-left: 16px;
    line-height: 40px;
    list-style-type: none;
    color: white;
    float: left;
    
}

.content {
    background-color: beige;
    height: 5000px;
}

.head {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.eye{
    background-color: grey;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 80px;
}

.eye_right {
    right: 40px;
}

.eye_left {
    left: 40px;
}

.ear {
    position: absolute;
    background-color: brown;
    height: 60px;
    width: 40px;
}

.ear_right {
    right: -40px;
    top: -60px;
}

.ear_left {
    left: -40px;
    top: -60px;
}