div.block {
    display: flex;
    background-color: coral;
    margin: 8px;
  
  }
  
  .block {
      height: 100px;
      width: 100px;
      flex-grow: 1;
  }
  
  .container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-shrink: 0;
      
  }