
.header {
    background-color: yellow;
    height: 50px;
}

.content {
    background-color: pink;
    float: left;
    height: 500px;
    width: 80%;
}

.sidebar {
    background-color: grey;
    float: left;
    height: 500px;
    width: 20%;
}

.footer {
    background-color: green;
    height: 50px;
    clear: both;
}