* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.block {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
}


.block {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: coral;
    animation-name: ease;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    
}


@keyframes ease {
    from {
        top: -100px;
    }
    to {
        height: calc(50vh - 50px);
    }    
}