.custom-button {
    width: 200px;
    height: 50px;
    background-color: coral;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border: none;
    line-height: 50px;
    border-radius: 4px;
    cursor: pointer;
    margin: 64px;
    outline: none;
}

.icon-bird {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: white;
}

.custom-button:hover {
    color: darkcyan;
}

.custom-button:hover > .icon-bird {
    fill: green;
}