* {
    box-sizing: border-box;
}


div>div {
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
}

.articles {
    display: flex;
}

.cropped {
    overflow: hidden;
}

.both-scrolls {
    overflow: scroll;
}

.vertical-scroll {
    overflow: auto;
}