* {
    box-sizing: border-box;
}

.container {
    margin: 32px;
}

.rect {
    width: 100px;
    height: 100px;
    background-color: coral;
    text-align: center;
    margin-bottom: 16px;
    opacity: 0.5;
    line-height: 100px;
}


.rect:hover {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 0.5s;
}