* {
    box-sizing: border-box;
  }
  
  header {
      text-align: center;
  }
  
  .articles-list {
      display: flex;
      flex-wrap: wrap;
  }
  
  .article {
      flex: 1 0 300px;
      padding: 16px;
      margin: 8px;
      background-color: bisque
  }
  